# dependencies
node_modules
.pnp
.pnp.js

# build outputs
dist
dist-lib
dist-wc
dist-ssr
*.local

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editors / OS
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# coverage
coverage
.nyc_output

# misc
.eslintcache
